body {
  background-color: rgb(148, 115, 115);
}

/* main {
  grid-row: start  end;
  grid-column: start  end;
} */
.container {
  display: grid;
  grid-template-columns: 20fr 19fr 19fr 19fr 19fr;
  grid-template-rows: 10fr 20fr 25fr 15fr;
  outline: 4px solid black;
}

header {
  clear: both;
  display: grid;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  outline: 2px solid black;
  height: 6.2em;
}
nav {
  text-align: center;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  outline: 2px dashed slateblue;
  height: 38em;
}

.cd {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  height: 12.7em;
  /* margin-left: 200px; */
} 

#c {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  /* margin-left: 200px; */
  height: 12.7em;
}
#d {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  /* margin-left: 200px; */
  height: 12.7em;
}

.efgh {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  /* margin-left: 200px; */
  height: 15.8em;
}

div section {
  text-align: center;
  /* max-width: 40%;
  min-width: 50%; */
  outline: 2px solid red;
  /* float: left; */
  height: 10em;
}

div article {
  text-align: center;
  /* max-width: 20%;
  min-width: 25%; */
  outline: 2px solid green;
  /* float: left; */
  /* height:10em; */
}
#e {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  height: 15.8em;
}

#f {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted rgb(43, 226, 186);height: 15.8em;

}

#g {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted rgb(43, 226, 186);
  height: 15.8em;
}

#h {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  max-width: 768px;
  outline: 2px dotted rgb(255, 226, 186);
  height: 15.8em;
}

footer {
  clear: both;
  display: grid;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  outline: 2px solid beige;
  height: 9.4em;
}