body {
  background-color: brown;
}

main {
  grid-row: 2 span 4;
  grid-column: 1 span 5;
}
.container {
  display: grid;
  grid-template-columns: 20fr 19fr 19fr 19fr 19fr;
  grid-template-rows: 100fr 200fr 250fr 150fr;
}

header {
  text-align: center;
  display: grid;
  grid-row: 1;
  grid-column: 1 span 5;
  outline: 2px solid black;
}

nav {
  text-align: center;
  display: grid;
    grid-area: 1 2 6 6;
  outline: 2px solid black;
}

.cd {
  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  margin-left: 200px;
}

.efgh {
  text-align: center;
  max-width: 768px;
  outline: 2px dotted blueviolet;
  margin-left: 200px;
}

div section {
  text-align: center;
  max-width: 40%;
  min-width: 50%;
  outline: 2px solid red;
  float: left;
}

div article {
  text-align: center;
  max-width: 20%;
  min-width: 25%;
  outline: 2px solid green;
  float: left;
}

footer {
  text-align: center;
  grid-row: end;
  grid-column: end;
  outline: 2px solid beige;
}