body {
  background-color: brown;
}

header {
  width: 960px;
  height: 100px;
  outline: 2px solid black;
}

nav {
  width: 200px;
  height: 600px;
  outline: 2px solid black;
  float: left;
}

.cd {
  max-width: 768px;
  height:200px;
  outline: 2px dotted blueviolet;
  margin-left: 200px;
}

.efgh {
  max-width: 768px;
  height: 250px;
  outline: 2px dotted blueviolet;
  margin-left: 200px;
}

div section {
  max-width: 380px;
  min-width: 50%;
  height:200px;
  outline: 2px solid red;
  float: left;
}

div article {
  max-width: 190px;
  min-width: 25%;
  height:250px;
  outline: 2px solid green;
  float: left;
}

footer {
  width: 760px;
  height: 150px;
  outline: 2px solid beige;
 clear: left;
}