body {
  background-color: blue;
}

nav {
  text-align: center;
  align-items: center;
  height: 9.4em;
}

header {
  text-align: center;
  width: 100%;
  height: 4.7em;
}

div section {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 7.9em;
  outline: 2px solid black;
}

article {
  text-align: center;
  float: left;
  width: 50%;
  height: 15.9em;
  outline: 3px solid green;
}

footer {
  clear: both;
  text-align: center;
  width: 100%;
  height: 5em;
  outline: 2px solid beige;
}