body {
  background-color: blue;
}

nav {
  text-align: center;
  align-items: center;
}

header {
  text-align: center;
  width: 100%;
  height: 4em;
}

div section {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10em;
  outline: 2px solid black;
}

article {
  text-align: center;
  float: left;
  width: 50%;
  height: 25em;
  outline: 3px solid green;
}

footer {
  text-align: center;
  width: 100%;
  height: 20em;
  outline: 2px solid beige;
}